<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Yireo\EasierExtensionAttributes\Config\Provider">
        <arguments>
            <argument name="configReader" xsi:type="object">Yireo\EasierExtensionAttributes\Config\Reader\Filesystem
            </argument>
        </arguments>
    </type>

    <type name="Magento\InventoryApi\Api\SourceRepositoryInterface">
        <plugin name="Yireo_EasierExtensionAttributes::AddExtensionAttributesToAnyEntity"
                type="Yireo\EasierExtensionAttributes\Plugin\AddExtensionAttributesToEntity"/>
    </type>

    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="Yireo_EasierExtensionAttributes::AddExtensionAttributesToAnyEntity"
                type="Yireo\EasierExtensionAttributes\Plugin\AddExtensionAttributesToEntity"/>
    </type>

    <type name="Magento\Catalog\Api\CategoryRepositoryInterface">
        <plugin name="Yireo_EasierExtensionAttributes::AddExtensionAttributesToAnyEntity"
                type="Yireo\EasierExtensionAttributes\Plugin\AddExtensionAttributesToEntity"/>
    </type>

    <!--
    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="Yireo_EasierExtensionAttributes::AddExtensionAttributesToAnyEntity"
                type="Yireo\EasierExtensionAttributes\Plugin\AddExtensionAttributesToEntity"/>
    </type>
    -->
</config>
